* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

body {}

.landing-page {
    height: 100%;
    width: 100%;
    background-image: url(../images/landing-page.jpg);
    background-size: cover;
    background-position: bottom;

}

/*COMMON CSS*/

.bg1 {
    background-image: url(../images/service-shape-1.png);
    background-size: auto 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg6 {
    background-image: url(../images/service-shape-1.png);
    background-size: auto 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg2 {
    background-image: url(../images/service-shape-2.png);
    background-size: auto 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg3 {
    background-image: url(../images/service-shape-3.png);
    background-size: contain;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg4 {
    background-image: url(../images/space-2.png);
    background-size: contain;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg5 {
    background-image: url(../images/space-3.png);
    background-size: contain;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

/*header*/

nav {
    background-color: #003073;
    width: 100%;
    color: white;
    z-index: 10;
}

nav img {
    padding: 18px 0 18px 0;
}

nav ul li {
    display: inline-block;
    padding: 23px 20px 23px 20px;
}

.but {
    text-align: center;
}

.but a {
    text-align: center;
    background-color: #1ea9fe;
    padding: 15px 40px 15px 40px;
    transition: .4s;
}

.but a:hover {
    background-color: white;
    text-decoration: none;
    color: #1ea9fe;
    transition: .4s ease;
}

nav ul li:hover {
    color: #1EA9FE;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #1ea9fe;
    text-decoration: none;
}

.menu {
    font-size: 24px;
}

.menubar {
    display: none;
}

.text-home {
    padding-top: 70px;
    color: white;
}

.text-home img {
    width: 30px;
}

.text-home h1 {
    font-weight: 700;
    font-size: 47px;
    line-height: 1.5;
}

.button {
    float: left;
    background-color: #22233c;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.button:hover {
    background-color: #1EA9FE;
    box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.4);
    transition: .4s;
}

.image {
    background-image: url(../images/home-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


/*ABOUT*/

.bg {
    width: 100%;
}

.about h3 {
    font-size: 36px;
    font-weight: 700;
}

.services i {
    font-size: 24px;
    padding: 24px;
    color: white;
}

.services {
    text-align: center;
}

.service1,
.service2,
.service3 {
    width: 100%;
}

.ser h3 {
    font-size: 24px;
    font-weight: 700;
    padding: 15px 0;
}

.ser p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #56576e;
}

.pro {
    padding: 120px 0;
}

.sells p {
    padding: 30px;
    color: white;
    font-size: 22px;
    font-weight: 700;
}

.sells h3 {
    color: #56576e;
}

.lunaticlove h2 {
    font-size: 36px;
    font-weight: 700;
}

.shad {
    transition: .4s;
    box-shadow: 0 0 30px -12px #c9c9c9;
}

.shadow h3 {
    font-size: 24px;
    color: #22233b;
    font-weight: 700;
}

.shad:hover {
    box-shadow: 0 0 30px -5px #c9c9c9;
    transform: translateY(-5px);
    transition: .4s;
}


.shadow p {
    font-size: 16px;
    font-weight: 400;
    color: #56576e;
}

.box {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: white;
    font-size: 22px;
}

.box1 {
    background-color: #2d5baf;
}

.box2 {
    background-color: #23a8c0;
}

.box3 {
    background-color: #8822bf;
}

.box4 {
    background-color: #c02383;
}

.box5 {
    background-color: #e09f25;
}

.box6 {
    background-color: #22bf88;
}

.vidframe {
    width: 100%;
    position: relative;
    margin: auto;
    box-shadow: 0 0 30px -1px #c9c9c9;
}

.vidplay {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #1EA9FE;
    text-align: center;
    line-height: 100px;
    font-size: 44px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.vidplay:hover {
    background-color: white;
    color: #1EA9FE;
    box-shadow: 0 0 50px -10px #6858db;
    transition: .3s;

}

/*LUNATIC COOL*/

.cool h3 {
    font-size: 36px;
    font-weight: 700;
}

.feats {
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.ft {
    transform: translateY(-10%);
}

.feats h3 {
    font-size: 22px;
    color: #22233b;
    font-weight: 700;
    padding: 30px 0;
}

.screen {
    padding: 20px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.title h3 {
    font-size: 36px;
    font-weight: 700;
    color: #22233b;
}

.cart {
    text-align: center;
}

.cic {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    float: left;
}

.cart img {
    cursor: pointer;
}

#circ1 {
    cursor: pointer;
    background-color: #1ea9fe;
}

#circ2 {
    margin-left: 8px;
    cursor: pointer;
    background-color: #dcdcdc;
}

.navcic {
    margin: auto;
    width: 38px;
}

/*LUNATIC PRICING*/
.pricing h3 {
    font-size: 36px;
    font-weight: 700;
    color: #22233b;
}

.price h3 {
    font-size: 36px;
    font-weight: 700;
    color: #1ea9fe;
}

.price h4 {
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0;
}

.price li {
    font-size: 16px;
    font-weight: 400;
    color: #56576e;
    padding: 12px 0;
}

.price ul {
    list-style: none;
    padding: 15px;
}

.price {
    padding: 40px 20px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transition: .5s;
}

.price:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
    background-color: #F5FBFF;
    transition: .5s;
    transform: translateY(-1%);
}

.getst a {
    padding: 20px 70px;
    border: 1px solid #1ea9fe;
    border-radius: 5px;
    color: #1ea9fe;
    text-decoration: none;
    font-weight: 700;
    transition: .4s;
}

.getst a:hover {
    color: white;
    background-color: #1ea9fe;
    transition: .4s;
    text-decoration: none;
}

/*FOUNDER*/

.founder h3 {
    font-size: 36px;
    font-weight: 700;
    color: #22233b;
}

.founders {
    border-radius: 300px 300px 10px 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    transition: .4s;
}
.founders p{
    text-align:center;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    color:#56576e;
}
.founders h4{
    text-align: center;
    padding: 15px 0 5px 0;
    font-weight: 700;
    font-size: 18px;
    color:#22233b;
}

.founders:hover{
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-1%);
    transition: .4s;
}

/*RESPONSIVE*/


/*MOBILE*/
@media only screen and (min-device-width : 0px) and (max-device-width : 480px) {
    .roundbut {
        display: none;
    }

    .pages {
        display: none;
    }

    .menubar {
        display: block;

    }

    .menubar i {
        font-size: 32px;
    }

    .image {
        display: none;
    }

    .text-home h1 {
        font-size: 25px;
    }

    .buttons {
        padding: 0;
    }

    .button {

        margin-top: 10px;
    }

    .vidplay {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }

    .ser h3 {
        font-size: 24px;
    }

    .ser p {
        font-size: 14px;
    }

    .headabout h3 {
        font-size: 26px;
    }

    .imgmobnone {
        display: none;
    }

    .pro {
        padding: 0;
    }

    .sells p {
        padding: 12px;
    }

    .sells h3 {
        font-size: 16px;
    }

    .ft {
        transform: translateY(0) !important;
    }

    .mot {
        margin-top: 20px;
    }

    .screen {
        margin-top: 20px;
    }

    .price {
        margin-top: 20px;
    }
    .founders{
        margin-top: 20px;
    }
    .menucross{
        display: none;
    }
    .mobile-menu{
        top:71px;
        background-color: #003073;
        z-index: 1;
        width: 100%;
        height: 0;
        transition: 1s;
        overflow: scroll;
        display: none;
        height: 58%;
    }
    .mobile-menu ul{
        list-style: none;
        color:white;
        text-align: center;
        padding: 10px!important;
        
    }
    .mobile-menu ul li{
        padding: 15px 0;
    }
    .backk{
        background-color: #0b84e1;
        transition: .4s;
    }
    .backk:hover{
        background-color: white;
        color:#0b84e1;
        transition: .4s;
    }

}

/*TABLET*/
@media only screen and (min-device-width : 480px) and (max-device-width : 1023px) {

    nav ul li {
        padding: 15px;
    }

    .bn {
        position: absolute;
        top: 30px;
        right: 0;
    }

    .text-home {
        padding-top: 150px;
    }

    .text-home h1 {
        font-size: 35px;
    }

    .buttons {
        padding-top: 0;
    }

    nav ul {
        padding: 20px 0;
    }

    .button {
        padding: 10px;
        margin-top: 10px;
        float: left;
        margin-left: 10px;
    }

    .button img {
        width: 20px;
    }

    .button h5 {
        font-size: 18px;
    }

    .ser h3 {
        font-size: 24px;
    }

    .ser p {
        font-size: 14px;
    }

    .pro {
        padding: 30px 0;
    }

    .sells p {
        padding: 20px;

    }

    .sells h3 {
        font-size: 22px;
    }

    .ft {
        transform: translateY(0) !important;
    }

    .mot {
        margin-top: 20px;
    }

    .price ul {
        padding: 0;
    }

    .price {
        padding: 20px 0;
    }

    .getst a {
        padding: 15px 40px;
    }
}
